.container {

    width: 95%;

}




/* ------------------------------ HEADER -------------------------- */




header .container > img {

    order: 1;

}



header .container > a {

    order: 2;
    flex-grow: 1;
    text-align: right;
    margin: 0;

}


header .container > ul {

    order: 3;
    display: flex;
    width: 107.5%;
    margin: 30px -5% 0;
    

}



header .container > ul > li {

    border-bottom: 3px solid grey;

}


header .container > ul > li:hover {

    border-bottom: 3px solid #0065FC;

}





header .container > ul > li > a {

    width: 100%;
    margin: 0;
    text-align: center;
    
}



header .container > ul > li > a:hover{

    border-top: none;
    
    
}






header .container > ul > li {

    width: 50%;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    
}





/* ---------------------------- RECHERCHE ------------------------- */



.logo_recherche i {

    display: inline-block;

}


.logo_recherche span {

    display: none;

}


.post > * {

    font-size: 15px;

}





/* --------------------- HEBERGEMENTS ---------------------------- */




#hebergements > .container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    


}





.annonce {

    width: 100%;
    margin-left: 0;
    margin-right: 0;
}






#locations  {

    width: 100%;
    margin-top: 50px;
    background: #fff;
    padding: 0px;
}




.titre {
    
    padding-left: 0px;
}



.affiche {

    margin-left: 0;

}



.affiche a {

    margin-left: 0;

}







/* ------------------ LES PLUS POPULAIRES ------------------------- */

#hebergements .container {

    width: 100%;

}



#locations {

    width: 95%;
    margin-left: auto;
    margin-right: auto;

}



.populaire {

    border-radius: 0;
    padding: 2.5%;
}


.resum {


    font-size: 15px;
    padding-bottom: 50px;
    margin: 10px;

}




@media (max-width: 386px) {

    .resum h3 {

        font-size: 14px;
    
    
    }
    
    
    
    .resum p {
    
        font-size: 13px;
    
    
    }
    
    
    
    
    .resum i {
    
        font-size: 12px;
            
    }
    


}





@media (max-width: 386px) {


    .titre2 {

        font-size: 22px;

    }


    .resum h3 {

        font-size: 14px;
    
    
    }
    
    
    
    .resum p {
    
        font-size: 14px;
    
    
    }
    
    
    
    
    .resum i {
    
        font-size: 14px;
        
    }
    


}




@media (max-width: 330px) {

    .titre2 {

        font-size: 20px;

    }




    .resum h3 {

        font-size: 12px;
    
    
    }
    
    
    .resum p {
    
        font-size: 12px;
    
    
    }
    
    
    
    .resum i {
    
        font-size: 13px;
        
    }


        
    


}





/* ---------------------------- ACTIVITES ----------------------- */





.hobbies {

    flex-wrap: wrap;
    margin: 0;
    
}



.grandes, .petites {

    width: 100%;
    margin: 15px 0;
}





.grandes img {

    
    height: 226px;

}


.petites {

    height: 600px;
    width: 100%;

}




.dame h3 {

    font-size: 18px;

}








/* ----------------------------- FOOTER ------------------------ */





#informations .container {

    display: flex;
    flex-direction: column;

}



.fin {

    padding-bottom: 40px;

}




.fin h4 {

    padding-bottom: 10px;

}




