.container {

    width: 95%;
    max-width: 1600px;

}


#best {

    margin-left: 30px;

}


.most-popular {

    margin-top: 50px;

}




.petites .pictures:first-child {

    margin-bottom: 15px;

}



.petites .pictures:last-child {

    margin-top: 15px;

}



.petites .pictures {

    height: calc(50% - 7.5px);

    
}










