.container {

    width: 960px;

}



.annonce {

    width: calc(50% - 30px);


}



#best {

    margin-left: 30px;

}



.most-popular {

    margin-top: 110px;

}



.most-popular:nth-child(2) {

    margin-top: 40px;

}







/* ------------------------- ACTIVITES A MARSEILLE --------------------- */



.grandes {

    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
}




.grandes:hover {

    transform: scale(1.02);

}





.petites {

    
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
   
}


.petites:hover {

    transform: scale(1.02);

}






.hobbies {

    flex-wrap: wrap;
    
}


.grandes {

    height: 350px;
    width: calc(50% - 30px);
    
}



.grandes img {

    height: 300px;
    border-radius: 15px 15px 0px 0px;
    

}




.petites {

    height: 350px;
    width: calc(48% - 30px);
    padding: 10px;
}



