.container {

    width: 720px;

}




.annonce {

    width: 100%;
    margin-left: 0;
    margin-right: 0;
}



#locations  {

    width: 100%;
    margin-top: 50px;
    background: #fff;
    padding: 0px;
}




.titre {
    
    padding-left: 0px;
}



.affiche {

    margin-left: 0;

}



.affiche a {

    margin-left: 0;

}





#hebergements > .container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    
}



.hobbies {

    
    flex-wrap: wrap;
    padding-left: 15px;
    
}



.pictures {

    width: 100%;

}



.petites .pictures {

    height: calc(50.6% - 18px);
    

}



.grandes {

    width: 94%;

}


.grandes img {

    
    height: 226px;

}


.petites {

    height: 600px;
    width: 94%;

}


.petites img {

    height: 100%;

}





.frioul img {
    
    height: 226px;
    
}



.dame h3 {

    font-size: 18px;

}


.longchamps img {

    
    height: 226px;

}


