
/* ----------------------------------------------------------------- LE CORPS DU SITE WEB ------------------- */




@media (min-width: 1700px) and (max-width: 1930px) {

    


    header img {

        margin-left: 185px;

    }





    #vacances h1 {

        margin-left: 140px;

    }


    #vacances p {

        margin-left: 140px;

    }



    .themes {

        margin-left: 140px;

    }




    .post {

        margin-left: 140px;

    }



    .info {

        margin-left: 140px;
    

    }



    #hebergements {

        margin-left: 120px;

    }


    #activites {

        margin-left: 140px;

    }
    



    #locations {

        width: 61%;
        height: 10%;
        margin-left: 70px;
    
    }
    
    


    .populaire {

        width: 430px;
        height: 100%;
        margin-left: 40px;
        
    }


    
    .most-popular {

        margin-left: 50px;
        width: 330px;    

    }



    .fin {

        padding-right: 70px;
        
    }


    .fin:nth-child(2) {
   
        padding-right: 170px;


    }


    .fin:nth-child(3) {
   
        padding-right: 220px;


    }




}





@media (max-width: 1930px) {

    
    header ul li {

        margin-left: 80px;
        width: 100px;
        
    }


    header a {

        width: 13%;
       
    }



}



@media (max-width: 1700px) {

    
    header ul li {

        margin-left: 80px;
        width: 100px;
        
    }


    header a {

        width: 17%;
       
    }



}




@media (min-width: 1700px) and (max-width: 1900px) {

    
    header ul li {

        margin-left: 80px;
        width: 100px;
        
    }


    header a {

        width: 12%;
       
    }



}





           
           
            /* -------------------- HEADER ---------------------------- */





@media (max-width: 980px) {


    header {

        justify-content: space-between;

    }

    
    header > a {

        order: 2;

    }


    header ul {

        margin-top: 1rem;
        order: 3;
        width: 100%;

    }


    header ul li {

        width: 50%;
        text-align: center;
        border-bottom: 3px solid #cecece;
        margin: 0;
        padding: 1rem 0;


    }


    header ul li:hover {

        border-bottom: 3px solid #0065FC;

    }


    header li a {

        color: #0065FC;

    }


    header ul li a:hover {

        border-top: 0;
        padding-top: 0;
    }
    


}



















            /*------------------ SECONDE PARTIE DU HEADER ----------------------*/





@media (max-width: 690px) {


    #vacances h1 {

        font-size: 20px;

    }



    #vacances p {

        font-size: 15px;

    }

} 




@media (max-width: 610px) {


    #vacances h1 {

        font-size: 18px;

    }



    #vacances p {

        font-size: 15px;

    }

} 




@media (max-width: 560px) {


    #vacances h1 {

        font-size: 15px;

    }



    #vacances p {

        font-size: 14px;

    }

} 








            /* ------------ BARRE DE RECHERCHE ----------------- */








@media (max-width: 1930px) {


    .logo_recherche_1  {


        display: flex;
        color:#fff;
        background:#0065FC;
        border-radius: 0px 15px 15px 0px;
        cursor: pointer;
    }


}
            
            

@media (max-width: 1930px) {


    .logo_recherche_2  {

        display: none;
        
    }


}








@media (max-width: 980px) {


    .logo_recherche_1 {

        display: none;
        

    }

}


@media (max-width: 980px) {


    .logo_recherche_2  {

        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 20px 20px;
        margin-left: -15px;
        font-size: 20px;        
        width: 60px;
       
    }


}



@media (max-width: 550px) {


    .post {

        width: 250px;

    }

    
    .logo_recherche_2  {

            
        width: 50%;
       
    }


}



@media (max-width: 400px) {

    #search {

        display: flex;
        width: 95%;

    }



    .logo_recherche_2  {

            
        width: 35%;
       
    }



}





    /* ------------ FILTRES ET INFORMATIONS ----------------- */



@media (max-width: 1930px) {



    .themes .point {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }


    


}


@media (max-width: 1394px) {



    .themes h2 {

       padding-bottom: 20px;
       

   }


   .point .item {

       margin-top: 10px;
       

   }


}






@media (max-width: 1306px) {



     .themes h2 {

        padding-bottom: 20px;
        

    }


    .point .item {

        margin-top: 10px;
        

    }


}





@media (max-width: 690px) {


    .information p {

        font-size: 15px;


    }


}



@media (max-width: 610px) {


    .information p {

        font-size: 14px;


    }


}







@media (max-width: 560px) {


    .information p {

        font-size: 13px;


    }


}










/* ----------- CORPS DE LA PAGE - HEBERGEMENT -------------- */



@media (max-width: 1700px) {


    .container {

        display: flex;
        

    }




    .annonce {

        display: flex;
        flex-wrap: wrap;
        margin-left: 90px;
        width: calc(38% - 60px);

    }


    .description {

        margin-top: 5px;
    
    }
    



}




@media (max-width: 1180px) {


    .annonce {

        width: calc(37% - 60px);

    }



}




@media (max-width: 1000px) {


    #locations {

        background:#fff;
        width: 100%;

    }


    .titre {

        margin-left: 0px;

    }



    .container {

       

    }



    .annonce {

        
        
        
    }


  
}






@media (max-width: 700px) {

    .titre {

        margin-left: 30px;

    }



    .annonce {

        width: 100%;
        margin-left: 27px;
        

    }


    .affiche a {

        position: relative;
        right: 20px;

    }



}





@media (max-width: 630px) {

    .annonce {

        width: calc(100% - 50px);

    }


}





@media (max-width: 500px) {





    .annonce {

        display: flex;
        margin-left: 25px;
        width: calc(100% - 5px);
    }



}



@media (max-width: 400px) {

    #locations h2 {

        font-size: 23px;

    }


    .annonce {

        width: 600px;

    }


}




@media (max-width: 390px) {

    #locations .titre {

        font-size: 20px;

    }


}





@media (max-width: 360px) {

    #locations .titre {

        font-size: 18px;

    }


}




















/* --------- CORPS DE LA PAGE / LES PLUS POPULAIRES ------------ */



@media (max-width: 1700px) {

    .most-popular {

        margin-left: 35px;
        margin-top: 115px;

    }

}






@media (max-width: 1000px) {



    #hebergements {

        display: flex;
        flex-direction: column-reverse;   
        width: 100%;
        
    }






    .populaire {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 0;
        padding-bottom: 50px;
        margin-left: 0;
        
        
    }




    .most-popular {

        width: 530px;
        height: 150px;
        margin-top: 50px;

       
    }



    .most-popular img {

        height: 140px;
        width: 220px;
    
    }


    .most-popular:nth-child(3) i {

        margin-top: 15px;
        
    }



    .resum i {


        font-size: 15px;
        padding-top: 20px;
        
    
    }
    



}






@media (max-width: 700px) {


    .populaire {

        width: (100% - 60px);
        padding-right: 25px;
        

    }



    .most-popular {


        width: 96%;

    }


    .most-popular img {

        height: 140px;
        width: 40%;
    
    }



    .block .titre2 {

        

    }


    .block i {

        

    }



}





@media (max-width: 446px) {

    .most-popular {

        margin-right: 1px;
        width: 95%;

    }


    .most-popular img {

        height: 140px;
        width: 40%;
    
    }


    .most-popular:nth-child(2) i {

        margin-top: 20px;
        
    }



    .most-popular:nth-child(3) i {

        margin-top: 20px;
        
    }



    .most-popular:nth-child(4) i {

        margin-top: 20px;
        
    }




}





@media (max-width: 390px) {


    .most-popular img {

        height: 140px;
        width: 45%;
    
    }




    .most-popular:nth-child(2) i {

        font-size: 12px;
        margin-top: 0px;
    }



    .most-popular:nth-child(3) i {

        margin-top: 0;
        font-size: 12px;
        
    }





    .most-popular:nth-child(4) i {

        font-size: 12px;
        margin-top: 20px;
        
    }



}





@media (max-width: 350px) {


    .most-popular {

        margin-right: 1px;
        width: 95%;

    }


    .most-popular img {

        height: 140px;
        width: 40%;
    
    }




}









/*--------------- ACTIVITES A MARSEILLE ----------------> */


@media (max-width: 800px) {

    #activites {

        margin-left: -18px;

    }

}




@media (max-width: 600px) {

    .pictures {

        margin-right: 10px;

    }


}



@media (max-width: 630px) {

    .pictures {

        width: calc(99% - 10px);

    }


}



@media (max-width: 450px) {

    .pictures {

        margin-right: 20px;

    }


}



@media (max-width: 345px) {

    .pictures {

        margin-left: -5px;

    }


}





@media (max-width: 1667px) {


    .notre_dame {

        margin-left: 360px;

    }


    .longchamps {

        margin-left: 360px;


    }




}




@media (max-width: 1162px) {


    .notre_dame {

        margin-left: 0px;

    }


    .longchamps {

        margin-left: 0px;


    }




}






@media (max-width: 792px) {



/*-------- PETITES IMAGES - ACTIVITES -------*/



    .petite {

        
        width: 90%;
        padding: 5px;
        border-radius: 25px;
        
        
    }
    


    .fort img {

        width: 100%;
        border-radius: 20px 20px 0 0;
        
    
    }



@media (max-width: 500px) {


    .pictures {

        width: 96%

    }




    .petite {

        width: 100%;

    }



}




@media (max-width: 480px) {


    .pictures {

        width: 95%
        
    }



    .petite {

        margin-right: -4px;
        width: 100%;

    }




}



@media (max-width: 440px) {


    
    .pictures {

        
        width: 94%;

    }



}



@media (max-width: 350px) {


    #activites {

       position: relative;
       right: 5px;

    }



    .pictures {
        
        width: 97%;

    }



}








    


    .iles img {

        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0 0;
        
    
    }
    


    .notre_dame img {

        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0 0;
        
    
    }
    




    .longchamps img {

        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0 0;
        
    
    }
    





    /*-------- GRANDES IMAGES - ACTIVITES -------*/


 
    .grandes {

        width: 89%;
        border-radius: 25px;
        margin-left: 50px;
        box-shadow: 0px 0px 20px 0px;
       
    }
    




    .port img {

        width: 100%;
        margin-left: 0px;
        height: 200px;
        border-radius: 25px 25px 0 0;
        
    
    }




    .parc {

        width: 100%;
        

    }


    .parc img {

        width: 100%;
        height: 170px;
        border-radius: 25px 25px 0 0;
        
    
    }




    @media (max-width: 390px) {

        .marseille h2 {

            font-size: 20px;

        }


    }


    
}



@media (max-width: 360px) {

    .marseille h2 {

        font-size: 18px;

    }


}









         /* --------------- FOOTER ------------------------ */



        

 @media (max-width: 980px) {


    .informations {

        display: flex;
        flex-direction: column;
        width: 100%;
        

    }



    .fin {

        padding-bottom: 20px;
        margin-left: 10px ;
    }



}
