                /* --------------- MOBILE ------------------ */



@media only screen and (max-width: 767px) {

    nav ul li a:hover {

        border-bottom: 2px solid #0065FC;
        margin-top: 180px;
    
    }


   

}   



           
     

            /* --------------- DESKTOP ------------------ */





@media only screen and (min-width: 992px) {


    
    nav ul li a:hover {

        border-top: 2px solid #0065FC;
        padding-top: 28px;
        
    
    }

}  




            /* --------------- TABLETTE ------------------ */



@media only screen and (min-width: 768px) and (max-width: 991px) {

    nav ul li a:hover {

        border-bottom: 2px solid #0065FC;
        padding-bottom: 11px;
    
    }


    
    


}  









           
           
           
           
           /* -------------------- HEADER ---------------------------- */


@media (max-width: 980px) {


    #accueil nav img {

        width: 80px;
        height: 60px;
        
}



    .navigation {

        display: flex;
        

    }



     .underline {

        margin-top: 50px;
        border-bottom: 2px solid #f2f2f2;
        
    }



    .bleu {

        position: absolute;
        top: 25px;
        right: 1px;

    }



}





@media (max-width: 940px) {


    #accueil nav img {

        width: 80px;
        height: 60px;
    }



    


    .bleu {

        position: absolute;
        top: 25px;
        right: 1px;

    }




}





@media (max-width: 900px) {


    #accueil nav img {

        width: 80px;
        height: 60px;

    }



    .underline {

        margin-top: 50px;
    
    }



    .bleu {

        position: absolute;
        top: 25px;
        right: 1px;

    }




}




@media (max-width: 640px) {


    #accueil img {

        margin-bottom: 240px;

    }



    .underline {

        display: flex;
        
        
        
       
    }




    .bleu {

        position: absolute;
        top: 25px;
        right: 1px;

    }





}










            /*------------------ SECONDE PARTIE DU HEADER ----------------------*/





@media (max-width: 690px) {


    #vacances h1 {

        font-size: 20px;

    }



    #vacances p {

        font-size: 15px;

    }

} 




@media (max-width: 610px) {


    #vacances h1 {

        font-size: 18px;

    }



    #vacances p {

        font-size: 15px;

    }

} 




@media (max-width: 560px) {


    #vacances h1 {

        font-size: 15px;

    }



    #vacances p {

        font-size: 14px;

    }

} 








            /* ------------ BARRE DE RECHERCHE ----------------- */








@media (max-width: 1920px) {


    .logo_recherche_1  {


        display: flex;
        color:#fff;
        background:#0065FC;
        border-radius: 0px 15px 15px 0px;
        cursor: pointer;
    }


}
            
            

@media (max-width: 1920px) {


    .logo_recherche_2  {

        display: none;
        
    }


}








@media (max-width: 980px) {


    .logo_recherche_1 {

        display: none;
        

    }

}


@media (max-width: 980px) {


    .logo_recherche_2  {

        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 20px 20px;
        margin-left: -15px;
        font-size: 20px;        
        width: 60px;
       
    }


}






    /* ------------ FILTRES ET INFORMATIONS ----------------- */



@media (max-width: 1920px) {



    .themes .point {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }


    


}


@media (max-width: 1394px) {



    .themes h2 {

       padding-bottom: 20px;
       

   }


   .point .item {

       margin-top: 10px;
       

   }


}






@media (max-width: 1306px) {



     .themes h2 {

        padding-bottom: 20px;
        

    }


    .point .item {

        margin-top: 10px;
        

    }


}





@media (max-width: 690px) {


    .information p {

        font-size: 15px;


    }


}



@media (max-width: 610px) {


    .information p {

        font-size: 14px;


    }


}







@media (max-width: 560px) {


    .information p {

        font-size: 13px;


    }


}










/* ----------- CORPS DE LA PAGE - HEBERGEMENT -------------- */


@media (max-width: 1560px) {



#hebergements {

    display: flex;
    


}



.container {

    display: flex;
    
    

}











/* --------- CORPS DE LA PAGE / LES PLUS POPULAIRES ------------ */





@media (max-width: 1024px) {



    #hebergements {

        
        width: 100%;
        
    }



  
    



    #best {
  
        width: 100%;
        
    }




    .populaire {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 0;
        padding-bottom: 50px;
        margin: 0px;
        
        
    }




    .most-popular {

        margin-top: 40px;


    }






}





@media (max-width: 540px) {



    #hebergements {

        width: 105%;
        
    }



}



@media (max-width: 490px) {



    #hebergements {

        width: 115%;
        
    }



}




@media (max-width: 480px) {



    #hebergements {

        width: 120%;
        
    }



}



@media (max-width: 450px) {



    #hebergements {

        width: 130%;
        
    }



}




@media (max-width: 395px) {



    #hebergements {

        width: 140%;
        
    }



}



@media (max-width: 372px) {



    #hebergements {

        width: 150%;
        
    }



}



@media (max-width: 428px) {



    #hebergements {

        width: 155%;
        
    }



}



@media (max-width: 355px) {



    #hebergements {

        width: 160%;
        
    }



}




@media (max-width: 355px) {



    #hebergements {

        width: 170%;
        
    }



}











/*--------------- ACTIVITES A MARSEILLE ----------------> */



@media (max-width: 1667px) {


    .notre_dame {

        margin-left: 360px;

    }


    .longchamps {

        margin-left: 360px;


    }




}




@media (max-width: 1162px) {


    .notre_dame {

        margin-left: 0px;

    }


    .longchamps {

        margin-left: 0px;


    }




}






@media (max-width: 792px) {



/*-------- PETITES IMAGES - ACTIVITES -------*/



    .petite {

        
        width: calc(95% - 60px);
        padding: 5px;
        border-radius: 25px;
        margin: 80px;
        
        
    }
    
    


    .fort img {

        width: 100%;
        border-radius: 20px 20px 0 0;
        
    
    }
    


    .iles img {

        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0 0;
        
    
    }
    


    .notre_dame img {

        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0 0;
        
    
    }
    




    .longchamps img {

        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0 0;
        
    
    }
    





    /*-------- GRANDES IMAGES - ACTIVITES -------*/


    .grandes {

        
        width: calc(95% - 60px);
        padding: 5px;
        
        
        
    }
    




    .grandes img {

        width: 100%;
        height: 50%;
        
    
    }
    




}

























            /* --------------- FOOTER ------------------------ */




 @media (max-width: 980px) {


    .informations {

        display: flex;
        flex-direction: column;
        width: 100%;

    }



    .fin {

        padding-bottom: 20px;

    }



}


