
*, ::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



body {

    font-family: 'raleway', sans-serif;
    margin-top: 20px;
}


.container {

    margin: 0 auto;
    
}



/*----------- HEADER -----------*/



header .container {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}



header a {

    margin-right: 20px;
    text-decoration: none;
    color: #000;
}



header ul {

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    color: #0065FC;
    
    
}



header ul li a:hover {

    border-top: 2px solid #0065FC;
    padding-top: 31px;
}


header ul li {

    margin-left: 2rem;
    

}


header ul li a:hover {

    color: #0065FC;
    

}




header .container > a {

    margin-left: 2rem;
    color: #0065FC;
    
}













/* ------------ SECONDE PARTIE DU HEADER ----------------- */




#vacances {

    margin-top: 50px;
    
}



h1 {

    font-weight: bold;
    font-size: 22px;

}











/* ------------ BARRE DE RECHERCHE ----------------- */



.post {

    display: flex;
    margin-top: 50px;

}



.logo_recherche {

    border-radius: 0px 15px 15px 0px;

}



.logo_recherche i {

    display: none;

}



.post > * {

    border: 1.5px solid #f2f2f2;
    line-height: 20px;
    padding: 0 1rem;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 17px;
    outline: 0;

}








.post button {

    border: 0;
    margin-right: 10px;
    background: #0065FC;
    color: #fff;
    cursor: pointer;

}






.position  {

    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 18px;


}













/* ------------ FILTRES ----------------- */







.themes {

    margin-top: 50px;
    display: flex;
    align-items: center;
}


.themes h2 {

    margin-right: 30px;

}



.themes .point {

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
   
}




.themes {

    
    height: auto;
    display: flex;
    flex-wrap: wrap;
}






.item {

    height: 50px;
    margin: 10px 20px 10px 0;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
    
}


.item:first-child {

    margin-left: 0;

}



.item i {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #dae4f3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;

}



.item h3 {


    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
}




.item:hover {

    background: #0065FC;
    color: #fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}





.information {

    margin-top: 40px;
    margin-left: 50px;

}



.info {

    margin-top: 30px;
    display: flex;

}



.info i {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 5px;


}



.info p {

    margin-top: 12px;
    margin-left: 20px;

}














/* ------- CORPS DE LA PAGE - HEBERGEMENT ---------- */



#hebergements {

    margin-top: 50px;
    
}



#hebergements > .container {

    display: flex;
    

}



#best {

    flex-grow: 1;
    
}



#locations {

    width: 70%;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    
}





.titre {
    width: 100%;
    padding: 15px;
}





.annonce {

    width: calc(33% - 30px);
    background: #fff;
    padding: 5px;
    border-radius: 25px;
    margin: 15px;
    box-shadow: 0px 0px 5px 0px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
    
}


.annonce:hover {

    transform: scale(1.02);

}






.annonce img {

    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
    height: 130px;
    

}





.description {

    padding: 5px;

}



.description h3 {

    font-size: 18px;

}



.description p {

    padding-top: 5px;
    margin: 0 0 0 1px;
}





.description i {

    color: #0065FC;
    font-size: 13px;
    padding-top: 20px;

}




.affiche {


    font-family: 'raleway', sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 50px;
    margin-left: 30px;

}


.affiche a {


    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-left: 10px;
}









/* ------- CORPS DE LA PAGE / LES PLUS POPULAIRES ---------- */



.populaire {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 30px;

}




.block {

    display: flex;
    width: 100%;
    justify-content: space-between;

}





.titre2 {

    display: flex;
    
}





.block i {

    font-size: 25px;

}






.most-popular {

    display: flex;
    background: #fff;
    margin-top: 30px;
    width: 100%;
    height: 140px;
    border-radius: 27px 20px 20px 27px;
    box-shadow: 1px 1px 20px 1px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
}



.most-popular:hover {

    transform: scale(1.02);

}




.most-popular img {

    margin: 5px;
    height: 130px;
    width: 120px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 20px 0 0px 20px;


}




.resum {


    font-size: 15px;
    padding-bottom: 50px;
    margin: 10px;

}





.resum h3 {

    font-size: 18px;


}



.resum p {

    padding-top: 10px;


}





.resum i {


    color:#0065FC;
    font-size: 13px;
    margin-top: 35px;

}











/*--------------- ACTIVITES A MARSEILLE ----------------> */



#activites {

    margin-top: 50px;
    padding-bottom: 80px;
}



.container  {

    width: 90%;
    
}




.hobbies {

    
    display: flex;
    align-items: stretch;
    margin: 0 -30px;
    padding-top: 20px;
    
}




.pictures {

    width: 100%;
    height: 100%;
    
    
}


.pictures img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    
   


}



/* --------------------------- GRANDES IMAGES ----------------------- */




.grandes {

    box-shadow: 0px 0px 5px 0px;
    width: calc(30% - 20px);
    height: 38%;
}



.grandes img {


    height: 790px;
    border-radius: 15px 15px 0px 0px;

} 



.grandes h3 {

    padding: 15px;

}






/* --------------------------- PETITES IMAGES ----------------------- */



.petites {

    border-radius: 15px 15px 0 0;
    width: calc(20% - 30px);
    
}




.petites img {

    border-radius: 15px 15px 0 0;
    
}




.petites .pictures {

    height: calc(49% - 15px);
    margin-bottom: 28px;
    

}


.petites .pictures:last-child {
    
    margin-bottom: 0px;

}





/* --------------------------- ANIMATIONS ----------------------- */




.grandes, .petites {

    margin: 15px;
    border-radius: 15px 15px 15px 15px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
}


.grandes:hover {

    transform: scale(1.02);

}




 .fort {

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px;
    padding-bottom: 50px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
    

}


.fort h3 {

    margin-left: 10px;
    padding: 10px;

}


.fort:hover {

    transform: scale(1.02);

}



.frioul {

    
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px;
    padding-bottom: 55px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;

}


.frioul h3 {

   padding-top: 14px;
   margin-left: 15px;
  

}





.frioul:hover {

    transform: scale(1.02);

}



.dame {

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px;
    padding-bottom: 50px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
    

}



.dame h3 {

    margin-left: 10px;
    padding: 10px;

}


.dame:hover {

    transform: scale(1.02);

}


.longchamps {

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px;
    padding-bottom: 55px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;

}


.longchamps h3 {

    padding-top: 14px;
    margin-left: 15px;
   
 
 }
 


.longchamps:hover {

    transform: scale(1.02);

}





















/* --------------  FOOTER  -------------------------- */




footer {

    background: #f2f2f2;
    width: 100%;
    
   

}



.informations {

    display: flex;
    width: 72%;
    padding-top: 20px;
    padding-left: 150px;
    justify-content: space-between;

}




.fin {

    display: flex;
    flex-direction: column;
    padding: 30px;
    
    

}






.fin ul {


    list-style-type: none;
    padding-top: 10px;
    

}


.fin li {

    padding-top: 10px;
    

}






