*, ::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



body {

    font-family: 'raleway', sans-serif;
    margin-left: 50px;
    margin-top: 20px;
}




/*----------- HEADER -----------*/




#accueil img {

    width: 10%;
    
}




nav {
    display: flex;
    justify-content: space-between;
    margin-right: 13%;
        
}


ul li {

    list-style-type: none;
    display: inline-block;

}



ul li a {

    text-decoration: none;
    line-height: 40px;
    margin: 40px;
    color: #000;
}




.bleu a {

    color :#0065FC;

}




ul li a:hover {

    color :#0065FC;

}



ul li a:hover {

    border-top: 2px solid #0065FC;
    padding: 29px 0;

}











/* ------------ SECONDE PARTIE DU HEADER ----------------- */




#vacances {

    margin-top: 50px;

}



h1 {

    font-weight: bold;
    font-size: 22px;
    margin-left: 5px;
}





p {

    
    margin-left: 6px;
   

}












/* ------------ BARRE DE RECHERCHE ----------------- */



.post {

    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    margin-top: 50px;
}





.post > * {

    border: 1.5px solid #f2f2f2;
    line-height: 20px;
    padding: 0 1rem;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 17px;
    
}








.post button {

    border: 0;
    margin-right: 80px;
    background: #0065FC;
    border-radius: 0px 10px 10px 0;
    color: #fff;
    cursor: pointer;

}






.position  {

    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 18px;
    

}
















/* ------------ FILTRES ----------------- */




h2 {

    margin-top: 50px;

}





.themes {

    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}






.item {

    width: 260px;
    height: 50px;
    margin: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
}




.item i {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #dae4f3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;

}



.item h3 {

    
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
}




.item:hover {

    background: #0065FC;
    color: #fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}











.information {

    margin-top: 40px;
    

}



.info {

    display: flex;
    
}



.info i {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 5px;


}



.info p {

    margin-top: 12px;
    margin-left: 20px;

}














/* ------- CORPS DE LA PAGE - HEBERGEMENT ---------- */




#locations {

    width: 60%;
    height: 750px;
    background: #f2f2f2;
    border-radius: 20px;
      
}




.titre {

    
    margin-left: 50px;
    padding-top: 40px;

}





.container {

    width: 100%;
    height: 60%;
    margin: 0 auto 100px auto;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;

}




.annonce {

    height: 230px;
    background: #fff;
    border-radius: 25px;
    margin: 50px;
    margin-left: 50px;
    box-shadow: 0px 0px 20px 0px;
    cursor: pointer;
}


.annonce:hover {

    
    transition: 0.4s ease-in-out;

}






.annonce img {

    width: 230px;
    height: 130px;
    margin: 5px;
    margin-left: 5px;
    border-radius: 20px 20px 0px 0px;
    
}





.description {

    padding-left: 10px;
    padding-bottom: 10px;
}



.description h3 {

    font-size: 18px;
    
}



.description p {

    padding-top: 5px;
}





.description i {

    color: #0065FC ;
    font-size: 13px;
    padding-top: 20px;
}




 .affiche {

    
    margin-left: 40px;
    margin-top: 190px;
    cursor: pointer;
}







